html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  height: 100vh;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  height: 100%;
}

main {
  height: 100%;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none !important;
}
